header {
    background: $color-primary;
    text-align: center;
    
    .brand a {
        display: block;
        padding: 0.6em 0;
    }
    nav ul {
        padding: 0.6em 0 1em;
        margin-bottom: 0;
    }
    nav li {
        display: inline-block;
        margin-right: 2em;
    }
    nav li:last-of-type {
        margin-right: 0;
    }
}

nav li span {
    display: none;
}

@media (min-width: 768px) {
   header {
       display: flex;
       justify-content: space-around;
       align-items: center;
   }

   header nav {
    width: 50%;
    padding-left: 7em
   }
  header nav ul {
       margin: 0;
       display: flex;
       justify-content: space-around;
   }

   header nav ul li {
       margin: 0;
   }

}

@media (min-width: 1024px) {

    header nav ul {
        padding: 0;
    }
    
    nav li span {
        display: inline-block;
        font-size: 1rem;
        font-weight: bold;
        margin-left: 0.5em;
        text-transform: uppercase;
        color: #fff;
    }

}